/* Add CSS Styling */
.odds {
    background-color: rgba(255, 90, 131, 0.3);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.font {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    font-weight: bold;
    background-color: rgb(155, 255, 155);
}