body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px 8px 8px 8px;
}

.title {
  margin: 0;
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 16px;
  margin: auto;
}

.title, .content, .button-container {
  margin-top: 8px;
  padding: 12px;
}

h1 {
  font-size: 16px;
}